<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">

		<title>{{error.name}}: {{commandName}}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<style>
			body {
				margin: 0;
				padding: 10%;
				font: 13px "Helvetica Neue", "Lucida Grande", "Arial";
				background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));
				background: #ECE9E9 -moz-linear-gradient(top, #fff, #ECE9E9);
				background-repeat: no-repeat;
				color: #333;
				-webkit-font-smoothing: antialiased;
			}
			a {
				color: #533;
				text-decoration: none;
				cursor: pointer;
			}
			ul.details {
				-webkit-padding-start: 20px;
			}
			footer {
				position: fixed;
				bottom: 0;
				left: 0;
				width: 100%;
				background-color: #fff;
				color: #555;
				font-weight: bold
			}
			footer span {
				margin: 5px;
			}
			footer .project {
				float: left;
			}
			footer .nbob {
				float: right;
			}
			.icon {
				max-height: 2em;
				vertical-align: middle;
			}
		</style>

		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/zenburn.min.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
	</head>
	<body>
		<h1>{{error.name}}: {{commandName}}</h1>
		<h2>
			{{command.description}}

			{{#if processor.documentation}}
				<a href="{{processor.documentation}}" title="Open processor documentation page">
			{{/if}}

			({{processor.name}})

			{{#if processor.documentation}}
				</a>
			{{/if}}
		</h2>
		<h3>{{error.title.text}}</h3>

		{{#error.title.excerpts}}
		<div class="excerpt">
			At {{path}}:{{line}}:{{column}}:
			<pre><code>{{context}}</code></pre>
		</div>
		{{/error.title.excerpts}}

		<ul class="details">
		{{#each error.details}}
			<li>
				<strong>{{text}}</strong>
				{{#excerpts}}
				<div class="excerpt">
					At {{path}}:{{line}}:{{column}}:
					<pre><code>{{context}}</code></pre>
				</div>
				{{/excerpts}}
			</li>
		{{/each}}
		</ul>

		<h4>
			<a id="toggle-stack" title="Expand/collapse stack trace">Stack trace</a>
		</h4>
		<ul id="stack" style="display: none;">
			{{#each error.stack}}
			<li>{{.}}</li>
			{{/each}}
		</ul>

		<footer>
			<span class="project">
				<a id="reload" title="Reload (try again)">
					<!-- TODO: Use project favicon -->
					<img class="icon" src="//raw.githubusercontent.com/exmg/nbob/master/bob.jpg">
					{{project.name}} v{{project.version}}
				</a>
			</span>
			<span class="nbob">
				<a href="https://github.com/exmg/nbob" title="Open nBob homepage">
					{{pkg.name}} v{{pkg.version}}
					<!-- TODO: Get icon from local file system so this works offline as well -->
					<img class="icon" src="//raw.githubusercontent.com/exmg/nbob/master/bob.jpg">
				</a>
			</span>
		</footer>

		<script>
			/*jshint ignore:start*//*jscs:disable*/

			// Handle stack trace expand/collapse toggle
			var toggleNode = document.getElementById('toggle-stack');
			var stackNode = document.getElementById('stack');
			var stackStyle = stackNode.style;
			toggleNode.addEventListener('click', function() {
				stackStyle.display = stackStyle.display === 'block' ? 'none' : 'block';
			});

			// Handle reload link
			var reloadNode = document.getElementById('reload');
			reloadNode.addEventListener('click', function(e) {
				e.preventDefault();
				location.reload(true);
			});

			// Initialize source highlighting
			hljs.initHighlighting();
		</script>
	</body>
</html>
